@using portfolio.ViewComponents
@model IEnumerable<portfolio.Models.Entry>

@{
    ViewData["Title"] = "Kenneth Gorking";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        @foreach (var item in Model)
        {
            <vc:entry entry="item" />
        }
    </p>

    <!--
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
</div>
