@using portfolio.ViewComponents
@model IEnumerable<portfolio.Models.ViewModels.EntryWithTagsViewModel>

@{
    ViewData["Title"] = "Kenneth Gorking";
}

<h1 class="display-4 text-center">Welcome!</h1>

<div class="center-screen entry-container card-body d-flex">
    <div class="entry-image" style="width: 250px">
        <img src="/img/me.jpg" alt="It's me! A handsome fella.'" class="img-fluid" />
    </div>
    <div class="entry-content">
        <p>I'm <b>Kenneth Gorking</b>, and this is my website.</p>
        <p>Below are some of the projects I am working on.</p>
        <p><a href="https://github.com/kgorking" target="_blank">Link to my GitHub with all my public projects</a></p>
    </div>
</div>

@foreach (var item in Model)
{
    <vc:entry entry="item" />
}
