@using portfolio.ViewComponents
@model portfolio.Models.ViewModels.TagSelectionViewModel

<div class="tag-selection">
    @foreach (var tag in Model.Tags)
    {
        <div>
            <input type="checkbox" 
                   id="tag-@tag.ID" 
                   name="Tags" 
                   value="@tag.ID" 
                   @(Model.SelectedTagIds.Contains(tag.ID) ? "checked" : "") />
            <label class="tag-container" for="tag-@tag.ID">@tag.Title</label>
        </div>
    }
</div>